modules = ["nodejs-24", "python-3.11"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3001

[[ports]]
localPort = 8083
externalPort = 4200

[[ports]]
localPort = 20179
externalPort = 3003

[[ports]]
localPort = 22487
externalPort = 3000

[[ports]]
localPort = 22488
externalPort = 3002

[userenv]

[userenv.shared]
EXPO_PUBLIC_FIREBASE_API_KEY = "AIzaSyCn0Rc4xWW-0LaGhJuIBtZMLsBcsD7KnqI"
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN = "applicationid-scamalert-clean.firebaseapp.com"
EXPO_PUBLIC_FIREBASE_PROJECT_ID = "applicationid-scamalert-clean"
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET = "applicationid-scamalert-clean.firebasestorage.app"
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID = "86631393939"
EXPO_PUBLIC_FIREBASE_APP_ID = "1:86631393939:web:3a359e5c70bee0c8d7bb66"
